.rpsbutton{
    width:150px;
    height:150px;
}

#scoreboard{
    display:flex;
    justify-content:center;
}

#buttons{
    display:flex;
    justify-content:center;
}

.rpsbutton{
    margin:25px;
}

h1{
    text-align:center;
}

#playerScore{
    margin-right:25px;
}

#choices{
    display:flex;
    justify-content:center;
    align-items:center;
}

#playerChoice{
    width:150px;
    height:150px;
    border:1px solid black;
    margin:10px;
}

#computerChoice{
    width:150px;
    height:150px;
    border:1px solid black;
    margin:10px;
}

#result{
    text-align:center;
    margin-right:40px;
}

#restart{
    display:flex;
    justify-content:center;
}

body{
    font-family: 'Urbanist', sans-serif;
}

h1{
    font-size:80px;
}

#restartButton{
    padding:10px 20px;
    font-size:24px;
}